@{
    ViewBag.Title = "Hata Sayfası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content-box" class="container">
    <div class="row">
        <div id="main-title" class="span12">
            <hgroup>
                <h1 style="color:aquamarine">Hata Sayfası.</h1>
                <h2 style="color:aquamarine">İşleminiz gerçekleştirilirken bir hata oluştu.</h2>
                <a style="color: red" href="~/">Anasayfaya Dön.</a>
            </hgroup>
        </div>
    </div>
</div>


