<header>
    <div id="header-box" class="container">
        <div class="row">
            <div class="span2">
                <a href="~/"><img class="logo" src="~/img/logo2.png" alt="Logo" /></a>
            </div>
            <div class="span10 clearfix">
                <ul class="sf-menu pull-right">
                    <li>
                        <a id="active" href="~/">Home</a>
                    </li>
                    <li><a href="~/About">About</a></li>
                    <li><a href="~/Blog">Blog</a></li>
                    <li><a href="~/Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
